* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffd6e8, #ffeef5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
  color: #ff5c8a;
}

p {
  font-size: 16px;
  margin: 15px 0;
}

.buttons {
  position: relative;
  height: 80px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff5c8a;
  color: white;
  margin-right: 10px;
}

#noBtn {
  background-color: #ccc;
  position: absolute;
}

.hidden {
  display: none;
}

#loveSticker img {
  width: 200px;
  margin-top: 20px;
}
.signature {
  margin-top: 25px;
  font-style: italic;
  color: #ff5c8a;
  font-size: 15px;
}
